.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .login-header {
        text-align: center;
        margin-bottom: 2rem;

        h3 {
            font-size: 2rem;
            margin-bottom: .5rem;
            color: rgb(29, 29, 29);
        }

        p {
            font-size: 1.4rem;
            color: slategrey;
        }
    }

    .login-form {
        max-width: 40rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        padding: 2rem;

        .form-fiend {
            margin-bottom: 1.5rem;
            display: flex;
            flex-direction: column;

            lable {
                font-size: 1.2rem;
                color: #444;
            }

            input {
                padding: 0.8rem;
                border: 1px solid #ccc;
                border-radius: .4rem;
                font-size: 1.4rem;

                &:focus {
                    outline: none;
                    border-color: lightslategrey;
                }
            }
        }
        button{
            width: 100%;
            background-color: lightslategray;
            padding: 1rem;
            border-radius: .4rem;
            color: white;
            transition: background .2s;
            &:hover{
            background-color: rgb(100, 114, 128);
            }
        }
    }
}